<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="it.unimib.stepaccuracy">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_app"
        android:label="StepAccuracy"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.StepAccuracy">

        <activity
            android:name="it.unimib.stepaccuracy.activity.allPedometer_activity"
            android:theme="@style/Theme.StepAccuracy.NoActionBar"
            android:label="allPedometer">
        </activity>

        <activity
            android:name="it.unimib.stepaccuracy.activity.simplePedometer_1_activity"
            android:theme="@style/Theme.StepAccuracy.NoActionBar"
            android:label="simplePedometer">
        </activity>

        <activity
            android:name="it.unimib.stepaccuracy.activity.gpsPedometer_2_activity"
            android:theme="@style/Theme.StepAccuracy.NoActionBar"
            android:label="gpsPedometer">
        </activity>

        <activity
            android:name="it.unimib.stepaccuracy.activity.dirPedometer_3_activity"
            android:theme="@style/Theme.StepAccuracy.NoActionBar"
            android:label="dirPedometer">
        </activity>

        <service
            android:name="it.unimib.stepaccuracy.sensor.SensorServiceAcc">
        </service>

        <service
            android:name="it.unimib.stepaccuracy.sensor.SensorServiceGPS">
        </service>

        <activity
            android:name="it.unimib.stepaccuracy.MainActivity"
            android:label="StepAccuracy"
            android:theme="@style/Theme.StepAccuracy.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>